{% extends "admin/index.html" %}
{% load i18n %}

{# Adds a Tools section to admin home (no model registration needed). #}

{% block content %}
  <div id="content-main">
    <div class="module" style="margin-bottom: 16px;">
      <table>
        <caption>{% translate "Tools" %}</caption>
        <tbody>
          <tr>
            <th scope="row">
              <a href="{% url 'admin:recommendation-qa' %}">{% translate "Recommendation QA" %}</a>
            </th>
          </tr>
        </tbody>
      </table>
    </div>

    {{ block.super }}
  </div>
{% endblock %}

